.Style1{font-family: 'Trebuchet MS',sans-serif;
font-size: 32px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style2{font-family: 'Trebuchet MS',sans-serif;
font-size: 20px; 
margin:0;
color: #626B71;
word-wrap: break-word;}
.Style3{font-family: 'Trebuchet MS',sans-serif;
font-size: 15px; 
margin:0;
color: #626B71;
word-wrap: break-word;}
.Style4{font-family: 'ArialMT','Arial',sans-serif;
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.Style5{font-family: 'Trebuchet MS',sans-serif;
font-size: 32px; 
color: #CBD838;
word-wrap: break-word;}
.Style6{font-family: 'Trebuchet MS',sans-serif;
font-size: 32px; 
margin:0;
color: #CBD838;
word-wrap: break-word;}